[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref="3.5.2"
distlib="0.3.5"
Django="4.1.1"
filelock="3.8.0"
numpy="1.23.2"
platformdirs="2.5.2"
psycopg2-binary="2.9.4"
sqlparse="0.4.2"

[requires]
python_version = "3.7"
