{% extends 'layout/base.html' %}

{% block content %}
    <h1>About</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi distinctio
        fugiat ea id possimus saepe odio, ex exercitationem sunt explicabo. Possimus
        libero ipsa ratione. Quia explicabo sint fuga a nihil mollitia numquam vel
        praesentium ab quasi repellat quod facere officia excepturi, consectetur
        libero, quaerat delectus harum dignissimos est, veritatis temporibus. Ex odio
        qui minus temporibus corporis neque nihil soluta sunt modi maiores. Quis hic,
        qui odit repudiandae ad at iste sapiente magnam eligendi quae ipsam debitis
        quidem obcaecati totam vel, iure, sunt quam maxime? Amet modi neque tempora
        numquam veniam, quisquam ullam sequi, excepturi natus accusantium,
        consequuntur ipsam dolore voluptate.
    </p>
{% endblock %}
